<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body class="game">
<div class="container game">
    <div class="row game">
    <!--Kolom Kiri-->
    <div class="col-2">

        <!--Card1Hero-->
        <div class="card hero" value="BUFFER" style="max-width: 18rem;">
            <div class="card-header">BUFFER</div>
            <div class="card-body">
                <div class="deskripsiCharacter">
                    <p> HP: </p>
                    <p> Mana: </p>
                    <p> Attack: </p>
                    <p> Defense: </p>
                </div>
            </div>
        </div>

        <!--Card2Hero-->
        <div class="card hero" value="HEALER" style="max-width: 18rem;">
            <div class="card-header">HEALER</div>
            <div class="card-body">
                <div class="deskripsiCharacter">
                    <p> HP: </p>
                    <p> Mana: </p>
                    <p> Attack: </p>
                    <p> Defense: </p>
                </div>
            </div>
        </div>

    </div>
    <!--Kolom Kiri-->

    <!--Kolom Tengah-->
    <div class="col-6">

        <div class="middle row level">
            <div class="col">
                <h3 class="titleText" th:text="'LEVEL: ' + ${playerLevel}"></h3>
                <h3 class="titleText">EXP: </h3>
            </div>
            <div class="col">
                <h3 class="titleText" id="round"> ROUND: </h3>
            </div>
        </div >

        <div class="middle row middleCard">

            <div class="col">
                <!--Card3Hero-->
                <div class="card hero" value="KNIGHT" style="max-width: 18rem;">
                    <div class="card-header">KNIGHT</div>
                    <div class="card-body">
                        <div class="deskripsiCharacter">
                            <p> HP: </p>
                            <p> Mana: </p>
                            <p> Attack: </p>
                            <p> Defense: </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="middle col attackSkill">
                <p class="questionText"> WHICH ONE DO YOU WANT TO ATTACK? </p>
                <div class="col">

                    <form method="POST">
                        <div class="form-group">
                            <select id="selectEnemy" class="form-control" name="ememy">
                                <option value="" selected disabled>Enemy</option>

                                <option value="" th:text="Enemy1"></option>
                                <option value="" th:text="Enemy2"></option>
                                <option value="" th:text="Enemy3"></option>
                            </select>
                        </div>


                    <a>
                        <!--Kurang href-->
                        <button id="attack" name="choice" value="attack" class="btn btn-outline-primary attackSkill">ATTACK</button>
                    </a>
                    <a>
                        <button id="skill" name="choice" value="attack" class="btn btn-outline-primary attackSkill">SKILL</button>
                    </a>
                    </form>

                </div>
            </div>

            <div class="col">
                <!--Card1Enemy-->
                <div class="card enemy" style="max-width: 18rem;">
                    <div class="card-header">ENEMY1</div>
                    <div class="card-body">
                        <div class="deskripsiCharacter">
                            <p> HP: </p>
                            <p> Mana: </p>
                            <p> Attack: </p>
                            <p> Defense: </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="middle row log">
            <div class="col">
                <h3 class="titleText col">BATTLE LOG</h3>

                <div class="card battleLog">
                    <div class="card-body">
                        <div class="log-character">
                            <div th:each="log: ${battleLog}">
                                <li th:text="${log}"></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--Kolom Tengah-->

    <!--Kolom Kanan-->
    <div class="col-2">
        <!--Card2Enemy-->
        <div class="card enemy" style="max-width: 18rem;">
            <div class="card-header">ENEMY2</div>
            <div class="card-body">
                <div class="deskripsiCharacter">
                    <p> HP: </p>
                    <p> Mana: </p>
                    <p> Attack: </p>
                    <p> Defense: </p>
                </div>
            </div>
        </div>

        <!--Card3Enemy-->
        <div class="card enemy" style="max-width: 18rem;">
            <div class="card-header">ENEMY3</div>
            <div class="card-body">
                <div class="deskripsiCharacter">
                    <p> HP: </p>
                    <p> Mana: </p>
                    <p> Attack: </p>
                    <p> Defense: </p>
                </div>
            </div>
        </div>

    </div>
    <!--Kolom Kanan-->
    </div>
</div>

<script type="text/javascript" th:src="@{/javascript/game.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>