<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">
</head>
<body class="homepage">
    <div class="container">
        <div class="row">
            <div class="text-center mx-auto col-md-12">
                <h1 class="gradientText1">JUDUL GEM</h1>
            </div>
        </div>
        <div class="row startButton">
            <div class="col-md-4 p-3">
                <a th:href="@{/initGame}">
<!--                    <button class="btn btn-outline-primary">Start</button>-->
                    <img th:src="@{/img/startButton.png}" id="startButton" src="{% static '.../static/img/startButton.png' %}" alt="startButton">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="text-center mx-auto col-md-12">
                <h2 class="highscoreText" th:text="'HIGHSCORE : ' + ${highscore}"></h2>
            </div>
        </div>
    </div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>